.controlsBlock {
  padding: 10px 0;
  text-align: right;
}
.btnCancelControl {
  width: auto;
  height: 40px;
  color: #000;
  background: #e4e4e4;
  border: 1px solid #AAAAAA;
  margin-right: 20px;
}
.btnCancelControl:hover {
  width: auto;
  height: 40px;
  color: #000;
  background: #c2c2c2;
  border: 1px solid #AAAAAA;
}
.btnAddUpdateControl {
  width: auto;
  height: 40px;
}
